import { App } from "../../structures/App";
import { Event } from "../../structures/Event";

export = class extends Event {
    constructor(app: App) {
        super(app, {
            name: ''
        });
    }

    run = async () => {
    };
};